{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="new movie movies ratings trailers">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jakub Pluta">
    <title>{% block title %}
        GoodMovies
        {% endblock %}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/pingendo.min.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
            <div class="title_container">
                <h1> Good_____Movies</h1>
            <hr class="line">
            </div>

            <div class="container">
            <!-- The form -->
            <form class="example" role="search"
                                  method="POST">
                {% csrf_token %}
              <input type="text" placeholder="Search for movie.." name="movie_name">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>


            <!-- Movies -->


            <div class="row col-md-12">
                {% for movie in movies_data %}
                    <div class="col-md-3">
                        <h3><strong>{{ movie.title }}</strong></h3>
                        <div class="image-container">
                        <a href="#" class="photo">
                            <img class="img-fluid photo rounded figure-img" src="{{ movie.poster_path }}"
                                 onerror="this.src='static/img/image-not-available.jpg'"></a>
                            </div>
                    <span class="overflow-dots">
                        <p class="font-weight-normal">
                    {{ movie.overview }}</p>
                        </span>
                    </div>
                {% endfor %}
            </div>





    <div id="wrap">
        {% block body %}
            <!-- Code -->
        {% endblock %}
    </div>





    <!-- Footer -->



    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>