
{% extends 'mymovies/main.html' %}
{% load static %}



{% block content %}

            <div class="title_container">
                <a href="{% url 'index' %}" class="#" style="text-decoration:none">
                 <h1>Good Movies</h1>
                </a>
            <hr class="line">
            </div>

            <div class="container">
            <!-- The form -->
            <form class="example" role="search"
                                  method="POST">
                {% csrf_token %}
              <input type="text" placeholder="Search for movie.." name="movie_name">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>



            <!-- Movies -->
            <div class="row">
                {% for movie in movies_data %}
                <div class="col-lg-3">
                    <h6>
                        <a class="article-title" href="{% url 'movie-detail' movie.id %}">{{ movie.title }}</a>
                    </h6>

                    <div class="image-container">
                        <a href="{% url 'movie-detail' movie.id %}" class="photo">
                            <img class="img-fluid photo rounded figure-img" src="{{ movie.poster_path }}"
                                 onerror="this.src='static/img/image-not-available.jpg'"></a>
                     </div>
                <div class="box-element">
                <hr>
                    <div class="bx">
                <p>{{ movie.overview }}</p>
                    </div>
                    <br>
                    <button data-product={{movie.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Watch List</button>
                    <hr>
            </div>
            </div>

                {% endfor %}
            </div>


{% endblock content %}

